a{
	color:grey;
	font-size: 20px;
	font-family: helvetica;
}


#exercises {
	color:grey;
	font-size: 10px;
	font-family: helvetica;
}

#projects {
	color:grey;
	font-size: 10px;
	font-family: helvetica;
}