* {
	box-sizing: border-box;
}

body {
	background: white;
	width: 100%;
	height: 2180px;
	margin-top: 170px;
}


.scanlines {
	top: 0px;
	left: 0px;
	position: fixed;
}


.phrase{
	top: 14px;
	left: 10px;
	position: absolute;
}


.hello {
	top:870px;
	left: 70px;
	position: absolute;
}

.there {
	top:876px;
	left: 70px;
	position: absolute;
}

.iyvette {
	top: 1010px;
	left: 70px;
	position: absolute;
}

.am {
	top: 1016px;
	left: 70px;
	position: absolute;
}



.yvette {
	top: 1150px;
	left: 70px;
	position: absolute;
}

.nakamoto {
	top: 1156px;
	left: 70px;
	position: absolute;
}


.this {
	top: 1300px;
	left: 70px;
	position: absolute;
}

.ismy {
	top: 1306px;
	left: 70px;
	position: absolute;
}


.between {
	top: 1450px;
	left: 70px;
	position: absolute;
}

.thelines {
	top: 1456px;
	left: 70px;
	position: absolute;
}


.css {
	top: 1600px;
	left: 70px;
	position: absolute;
} 

.typeface {
	top: 1606px;
	left: 70px;
	position: absolute;
}









.noone {
	top: 60px;
	left: 0px;
	position: absolute;

}







.letter {
	margin-left: 10px;
	margin-bottom: 20px;
}



.line {
	margin-top: 6px;
}


.screen {
	position: relative;
	margin-left: -80px;
	width: 1800px;
	height: 6px;
	background: black;
}






.short {
	position: relative;
	width: 40px;
	height: 6px;
	background: black;
}

.medium {
	position: relative;
	margin-left: 0px;
	width: 90px;
	height: 6px;
	background: black;
	}

				.mediumleft {
				position: relative;
				margin-left: -20px;
				width: 60px;
				height: 6px;
				background: black;
				}

.long{
	position: relative;
	width: 120px;
	height: 6px;
	background: black;
}

.half{
	position: relative;
	margin-left: 10px;
	width: 40px;
	height: 6px;
	background: black;
}

.half2{
	position: relative;
	margin-left: 25px;
	width: 40px;
	height: 6px;
	background: black;
}

				.halfleft{
				position: relative;
				margin-left: -10px;
				width: 40px;
				height: 6px;
				background: black;
				}

				.halfleft2{
				position: relative;
				margin-left: -25px;
				width: 40px;
				height: 6px;
				background: black;
				}		

.shortcenter{
	position: relative;
	margin-left: 40px;
	width: 40px;
	height: 6px;
	background: black;
}




.left {
	position: absolute;
}
.right {
	position: absolute;
	left: 80px;
}




.line {
	margin-top: 6px;
}


.none {
	position: relative;
	width: 40px;
	height: 6px;
	background: white;
	opacity: 0;
}

.short {
	position: relative;
	width: 40px;
	height: 6px;
	background: black;
}

.medium {
	position: relative;
	margin-left: 0px;
	width: 90px;
	height: 6px;
	background: black;
	}

				.mediumleft {
				position: relative;
				margin-left: -20px;
				width: 60px;
				height: 6px;
				background: black;
				}

.long{
	position: relative;
	width: 120px;
	height: 6px;
	background: black;
}

.half{
	position: relative;
	margin-left: 10px;
	width: 40px;
	height: 6px;
	background: black;
}

.half2{
	position: relative;
	margin-left: 25px;
	width: 40px;
	height: 6px;
	background: black;
}

				.halfleft{
				position: relative;
				margin-left: -10px;
				width: 40px;
				height: 6px;
				background: black;
				}

				.halfleft2{
				position: relative;
				margin-left: -25px;
				width: 40px;
				height: 6px;
				background: black;
				}		

.shortcenter{
	position: relative;
	margin-left: 40px;
	width: 40px;
	height: 6px;
	background: black;
}
















.nshort1 {
	position: relative;
	margin-left: 0px;
	width: 50px;
	height: 6px;
	background: black;
}
.nshort2 {
	position: relative;
	margin-left: 0px;
	width: 55px;
	height: 6px;
	background: black;
}


.nshort3 {
	position: relative;
	margin-left: 0px;
	width: 60px;
	height: 6px;
	background: black;
}
.nshort4 {
	position: relative;
	margin-left: 0px;
	width: 65px;
	height: 6px;
	background: black;
}


.nshort5 {
	position: relative;
	margin-left: -25px;
	width: 65px;
	height: 6px;
	background: black;
}
.nshort6 {
	position: relative;
	margin-left: -20px;
	width: 60px;
	height: 6px;
	background: black;
}


.nshort7 {
	position: relative;
	margin-left: -15px;
	width: 55px;
	height: 6px;
	background: black;
}

.nshort8 {
	position: relative;
	margin-left: -10px;
	width: 50px;
	height: 6px;
	background: black;
}
















.a {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.b {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.c {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.d {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.e {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.f {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.g {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.h {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}
.i {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.j {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.k {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.l {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}


.m {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.n {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.o {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.p {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}


.q {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.r {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.s {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.t {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.u {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.v {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.w {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.x {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.y {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.z {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.zero {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}



.one {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.two {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.three {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}


.four {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.five {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}


.six {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}


.seven {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.eight {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.nine {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.mark {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.question {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.period {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}


.space {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}







