* {
	box-sizing: border-box;
}

body {
	background: lightgrey;
}


#line {
	position: absolute;
	width: 40px;
	height: 5px;
	background: black;
}

#line2 {
	position: absolute;
	left: 
	width: 80px;
	height: 5px;
	background: orange;
}


.right{
	position: absolute;
	top: 8px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.rightb{
	position: absolute;
	top: 206px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

#center{
	position: absolute;
	width: 120px;
	height: 5px;
	background: black;
}

#B {
	
	width: 40px;
	height: 5px;
	background: green;
}

.rightc{
	position: absolute;
	top: 427px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.rightd{
	position: absolute;
	top: 661px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.rightg{
	position: absolute;
	top: 1363px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.righth{
	position: absolute;
	top: 1597px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.rightj{
	position: absolute;
	top: 2065px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}



.rightm{
	position: absolute;
	top: 2767px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.rightn{
	position: absolute;
	top: 3001px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}
.righto{
	position: absolute;
	top: 3235px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.rightp{
	position: absolute;
	top: 3469px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.rightq{
	position: absolute;
	top: 3703px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}

.rightr{
	position: absolute;
	top: 3937px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}


.rights{
	position: absolute;
	top: 4171px;
	left: 100px;
	width: 40px;
	height: 5px;
	background: black;
}




















