* {
	box-sizing: border-box;
}

body {
	background: white;
}




.letter {
	margin-left: 50px;
	margin-bottom: 20px;
}

.line {
	margin-top: 6px;
}


.none {
	position: relative;
	width: 40px;
	height: 6px;
	background: white;
	opacity: 0;
}

.short {
	position: relative;
	width: 40px;
	height: 6px;
	background: black;
}

.medium {
	position: relative;
	margin-left: 0px;
	width: 90px;
	height: 6px;
	background: black;
	}

				.mediumleft {
				position: relative;
				margin-left: -20px;
				width: 60px;
				height: 6px;
				background: black;
				}

.long{
	position: relative;
	width: 120px;
	height: 6px;
	background: black;
}

.half{
	position: relative;
	margin-left: 10px;
	width: 40px;
	height: 6px;
	background: black;
}

.half2{
	position: relative;
	margin-left: 25px;
	width: 40px;
	height: 6px;
	background: black;
}

				.halfleft{
				position: relative;
				margin-left: -10px;
				width: 40px;
				height: 6px;
				background: black;
				}

				.halfleft2{
				position: relative;
				margin-left: -25px;
				width: 40px;
				height: 6px;
				background: black;
				}		

.shortcenter{
	position: relative;
	margin-left: 40px;
	width: 40px;
	height: 6px;
	background: black;
}


.nshort1 {
	position: relative;
	margin-left: 0px;
	width: 50px;
	height: 6px;
	background: black;
}
.nshort2 {
	position: relative;
	margin-left: 0px;
	width: 55px;
	height: 6px;
	background: black;
}


.nshort3 {
	position: relative;
	margin-left: 0px;
	width: 60px;
	height: 6px;
	background: black;
}
.nshort4 {
	position: relative;
	margin-left: 0px;
	width: 65px;
	height: 6px;
	background: black;
}


.nshort5 {
	position: relative;
	margin-left: -25px;
	width: 65px;
	height: 6px;
	background: black;
}
.nshort6 {
	position: relative;
	margin-left: -20px;
	width: 60px;
	height: 6px;
	background: black;
}


.nshort7 {
	position: relative;
	margin-left: -15px;
	width: 55px;
	height: 6px;
	background: black;
}

.nshort8 {
	position: relative;
	margin-left: -10px;
	width: 50px;
	height: 6px;
	background: black;
}


.left {
	position: absolute;
}
.right {
	position: absolute;
	left: 80px;
}

.a {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.b {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.c {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.d {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.e {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.f {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.g {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.h {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}
.i {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.j {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.k {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.l {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}


.m {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.n {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.o {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.p {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}


.q {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.r {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.s {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.t {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.u {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.v {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.w {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.x {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.y {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.z {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.one {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}

.two {
	position: relative;
	background: none;
	width: 120px;
	height: 120px;
	float: left;
}



